on:
  push:
    paths:
      - "pingfederate/**"
      - "vendor/**"
      - "go.mod"
      - "go.sum"
      - "main.go"
      - ".github/workflows/build.yaml"

name: ci
jobs:
  build:
    name: build
    strategy:
      fail-fast: false
      matrix:
        pingfederate-version: [ 10.2.7-edge, 10.3.4-edge, 11.0.0-edge ]
    services:
      pingfederate:
        image: pingidentity/pingfederate:${{ matrix.pingfederate-version }}
        env:
          PING_IDENTITY_ACCEPT_EULA: YES
          PING_IDENTITY_DEVOPS_USER: ${{ secrets.PING_IDENTITY_DEVOPS_USER }}
          PING_IDENTITY_DEVOPS_KEY: ${{ secrets.PING_IDENTITY_DEVOPS_KEY }}
          SERVER_PROFILE_URL: https://github.com/pingidentity/pingidentity-server-profiles.git
          SERVER_PROFILE_PATH: getting-started/pingfederate
          IMAGE_VERSION: pingfederate-alpine-az11-${{ matrix.pingfederate-version }}-${{ needs.getdate.outputs.date }}-d9b5
          PF_LOG_LEVEL: DEBUG
          TAIL_LOG_PARALLEL: "y"
          TAIL_LOG_FILES: "/opt/out/instance/log/server.log /opt/out/instance/log/admin-api.log"
        ports:
          - 9999:9999
          - 9031:9031

    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.17
        uses: actions/setup-go@v3.2.0
        with:
          go-version: 1.17
        id: go

      - name: Checkout Source
        uses: actions/checkout@v2

      - name: Test
        run: |
          TF_ACC=1 go test -mod=vendor ./... -v -trimpath -coverprofile=coverage.out
          go tool cover -func=coverage.out

      - name: Container logs
        if: ${{ failure() }}
        run: |
          docker ps
          docker logs "${{ job.services.pingfederate.id }}"

      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
