name: checks
on:  [push, pull_request]
jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    steps:
      - name: Set up Go 1.17
        uses: actions/setup-go@v3.2.1
        with:
          go-version: 1.17

      - name: Install tools
        run: |
          export PATH=$PATH:$(go env GOPATH)/bin
          go install honnef.co/go/tools/cmd/staticcheck@latest

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Staticcheck
        run: |
          export PATH=$PATH:$(go env GOPATH)/bin
          staticcheck ./...

      - name: Check dependencies
        run: |
          go mod tidy
          git diff --exit-code -- go.mod go.sum || \
          	(echo; echo "Unexpected difference in go.mod/go.sum files. Run 'go mod tidy' command or revert any go.mod/go.sum changes and commit."; exit 1)
          echo "==> Checking source code with go mod vendor..."
          go mod vendor
          git diff --compact-summary --exit-code -- vendor || \
          	(echo; echo "Unexpected difference in vendor/ directory. Run 'go mod vendor' command or revert any go.mod/go.sum/vendor changes and commit."; exit 1)

      - name: Run Gosec Security Scanner
        uses: securego/gosec@master
        with:
          args: '-no-fail -fmt sarif -out results.sarif ./...'
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: results.sarif
